.summary {
  min-width: 576px;
}

.head h1 {
  text-align: center;
}

.cart-summary .cart-items {
  border-top: 1px solid #00ccbc;
  border-bottom: 1px solid #00ccbc;
  width: 70%;
  padding-top: 25px;
}

.cart-summary .cart-items h2 {
  margin-bottom: 25px;
}

.cart-summary .cart-items .cart-item {
  background-color: rgba(0, 204, 188, 0.05);
  border-radius: 10px;
  margin-bottom: 15px;
  width: 85%;
}

.cart-summary .cart-items img {
  width: 100px;
  margin-left: 20px;
}

.cart-summary .cart-items .info-item {
  margin-left: 30px;
  padding: 25px 0 25px 0;
}

.cart-summary .cart-items .total {
  padding: 30px 0 50px 0;
  margin-bottom: 0;
}

.cart-summary .cart-items .total span {
  font-weight: 700;
}

.confirm {
  background-color: #00ccbc;
  border-radius: 8px;
  border: none;
  padding: 10px;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.confirm:hover {
  background-color: rgba(0, 204, 188, 0.4);
}

.payment-form {
  padding-top: 30px;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.activate {
  display: flex;
}

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .payment-form {
    padding-top: 0px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

